.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: aqua; */
}

h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
 
p {
    margin: 0px;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
}