* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, main {
  width: 100%;
  height: 100%;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #f0f0f0;
}

/* Escala base (Mobile First) */
.pixel-wrapper {
  transform: scale(0.55);
  transform-origin: top left;
}

/* Pixel-art en PX */
.pixel-art {
  width: 30px;
  height: 30px;
  /* background: black; */

  box-shadow:
    0px   0px   0 4px rgb(231, 96, 96),  30px   0px   0 0 rgb(40, 11, 206),
    30px  0px   0 4px rgb(231, 96, 96),  0px  30px   0 0 rgb(223, 219, 5),
    0px  30px   0 4px rgb(231, 96, 96),  0px  0px   0 0 rgb(136, 216, 8),
    30px 30px   0 4px rgb(231, 96, 96),  30px 50px   0 0 rgb(124, 4, 204);
}

/* Tablet */
@media (min-width: 600px) {
  .pixel-wrapper {
    transform: scale(0.8);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .pixel-wrapper {
    transform: scale(1);
  }
}
