* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, main {
  width: 100%;
  height: 100%;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fafafa;
}

/* MOBILE FIRST: base pequeña */
html {
  font-size: 6px; /* controla el tamaño total */
}

/* TABLET */
@media (min-width: 600px) {
  html {
    font-size: 8px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  html {
    font-size: 10px;
  }
}

/* PIXEL ART USANDO REM */
.pixel-art-rem {
  width: 3rem;
  height: 3rem;
  background: black;

  /* Cada sombra es un bloque de 3rem */
  box-shadow:
    0rem   0rem   0 0.4rem red,  0rem   0rem   0 0 black,
    3rem   0rem   0 0.4rem red,  3rem   0rem   0 0 black,
    0rem   3rem   0 0.4rem red,  0rem   3rem   0 0 black,
    3rem   3rem   0 0.4rem red,  3rem   3rem   0 0 black;
}
